.footer {
    background-color: #232323;
    color: #F9F9F9;
    padding: 3em;
    text-align: center;
    justify-content: center;
}

.socialList {
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
}

.socialList li {
    margin: 0 1em;
    transition: ease-in-out .5s;
}

.socialList li:hover {
    color: #FFBB33;
}

.socialList svg {
    font-size: 1.5em;
    cursor: pointer;
}

p span {
    font-weight: 700;
    transition: ease-in-out .5s;
}

p span:hover {
    color: #FFBB33;
}